# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Domains
Python/domains/
Go/WebsiteContents

# Temp files
Go/Images
Go/ScrapedContent

# Debugging/Testing Files
Python/benchmarking.py
