{% extends "base.html" %}
{% block title %}Phishing Detection{% endblock %}
{% block content %}
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">URL</th>
            <th scope="col">Our Result</th>
            <th scope="col">VirusTotal Result</th>
        </tr>
        <tbody>
            <tr>
                <th scope="col">google.com</th>
                <th scope="col">Safe</th>
                <th scope="col">Safe</th>
            </tr>
        </tbody>
    </thead>
</table>
{% endblock %}