{% extends "base.html" %}
{% block title %}Team{% endblock %}
{% block content %}
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">E-mail Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Batuhan</td>
            <td>Kertmen</td>
            <td>batuhankertmen@sabanciuniv.edu</td>
        </tr>
        <tr>
            <td>Doğu</td>
            <td>Özcan</td>
            <td>doguozcan@sabanciuniv.edu</td>
        </tr>
        <tr>
            <td>Ege Berk</td>
            <td>Yurtkoruyan</td>
            <td>egeberk@sabanciuniv.edu</td>
        </tr>
        <tr>
            <td>Yiğit</td>
            <td>Gümüşlü</td>
            <td>yigitgumuslu@sabanciuniv.edu</td>
        </tr>
    </tbody>
</table>
{% endblock %}